<div style="height: 445px;" class="bg-dark text-light mt-5">
  <div class="d-flex justify-content-between  w-100 mb-5 p-3">
    <div class="about w-25 justify-content-evenly" >
      <h3>fakestore</h3>
      <p class="mt-3">fakecart package tracking is easy with Ordertracker, all you have to do is to paste your tracking number in the above field to track a package or go to the track my package section. We provide you with the most powerful parcel tracking system for any post office. Ordertracker accepts any international tracking number, it is an universal tracking website to track a parcel on a global level such as "track my parcel" with accurate informations about your shipment.
      </p>
    </div>
    <div class="help">
      <h3>Help</h3>
      <div class="d-flex flex-column mt-3">
        <a class="btn text-light" routerLink="">Home</a>
        <a class="btn text-light" routerLink="wishlist">WishList</a>
        <a class="btn text-light" routerLink="cart">Cart</a>

      </div>
    </div>
    <div class="address">
      <h3>Registered Address</h3>
      <h5 class="mt-3"> Bangloor</h5>
      <h5> Near Center Square</h5>
      <h5 > 1800 456 345</h5>

    </div>
    <div class="contact">
      <h3>Contact US</h3>
      <div class="d-flex mt-3">
        <input placeholder="Contact Here" class="form-control me-2">
        <div class="btn btn-warning"><i class="fa-solid fa-arrow-right"></i></div>
        
      </div>
      <div class="icons d-flex justify-content-between mt-4">
        <i class="fa-brands fa-facebook fa-2x"></i>
        <i class="fa-brands  fa-twitter fa-2x"></i>
        <i class="fa-brands  fa-instagram fa-2x"></i>
        <i class="fa-solid fa-envelope fa-2x"></i>
        <i class="fa-brands  fa-tiktok fa-2x"></i>

       </div>
    </div>

  </div>
   <p class="text-center">All Rights Reserved &copy; DropCart &reg; 2023</p>
</div>